.sendMoney{
    display: flex;
}

.accounts{
    padding: 50px 56px 236px 31px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #262626;
    display: flex;
    align-items: center;
    gap: 9.41px;
}

.main{
    padding: 391px 273px 479px 341px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #262626;
    display: flex;
    align-items: center;
    gap: 13.23px;
}